/*Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: var(--bg-color);
    color: var(--text-color);
}


/* Variables */
:root {
    --bg-color: #fff7f4;
    --text-color: #002D5B;
    --paragraph-color: #333333c9;
    --card-bg: #ffffff;
    --card-shadow: rgba(0, 0, 0, 0.08);
    --footer-bg: #002D5B;
}

body.dark-mode {
    --bg-color: #1e1e1e;
    --text-color: #f0f0f0;
    --paragraph-color: #cccccc;
    --card-bg: #2c2c2c;
    --card-shadow: rgba(255, 255, 255, 0.05);
    --footer-bg: #121212;
}

